# HW2
Ian Mobbs, Lina Lopez, Helena Shi, Joyce Dong Yue Huang, Kenneth Chow

## Setup

In [23]:
import pandas as pd
df = pd.read_csv('NYC_Restaurants.csv', dtype='unicode').drop('Unnamed: 0', 1)

## Q1

In [24]:
df['RESTAURANT'] = df['DBA'] + " " + df['BUILDING'] +  " " + df['STREET'] +  " " + df['ZIPCODE']

## Q2

In [27]:
restaurants = df.RESTAURANT.unique()
len(restaurants)

10114

## Q3